{% extends 'submit/main.html' %}

{% block content %}
<h1>Add row</h1>

<p>
Pridá nový riadok družinke vo vybratom jazyku.
Keďže družinka má len jeden aktívny problém v nejakom momente, pridá sa automaticky ako posledný.
</p>

<div class="row">
    <div class="col col-md-6">
        <form id="add_row_form" method="post" action="/submit/add_row/">
            {% csrf_token %}
            <div class="form-group">
                <label for="username-input">Druzinka</label>
                <select class="form-control" onchange="changeInfo()" id="user-select" name="user-select">
                    <option disabled selected value> -- select an option -- </option>
                    {% for user in users %}
                        <option value="{{ user.id }}">
                            {{ user }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="lang-input">Jazyk</label>
                <select class="form-control" name="lang-select">
                    {% for lang_code, lang_name in langs %}
                        <option value="{{ lang_code }}">
                            {{ lang_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" disabled id="add-row-btn">Add row</button>
        </form>
    </div>
    <div class="col col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Info</div>
            <div class="panel-body">
                <table class="table-condensed">
                    <tr>
                        <th>Aktívny problém:</th>
                        <td id="td-active"></td>
                    </tr>
                    <tr>
                        <th>Nasledujúci riadok:</th>
                        <td id="td-new-order"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
function changeInfo() {
    var user_id = $("#user-select").val();
    $.ajax({
        url: "/submit/add_row_info/" + user_id,
        type: "GET", // This is the default though, you don't actually need to always mention it
        dataType: "json",
        success: function(data) {
            if (data['no_active_problem']) {
                $("#add-row-btn").attr("disabled", true);
                $("#td-active").text("No active problem")
                $("#td-new-order").text("-")
            } else {
                $("#add-row-btn").attr("disabled", false);
                $("#td-active").text(data['problem_title'])
                $("#td-new-order").text(data['next_order'])
            }
            console.log(data);
        },
        failure: function(data) { 
            console.log("Got an error dude");
        }
    }); 
}
</script>
{% endblock %}
