{% load submit_parts %}

<div class="rows">
    {% for row in rows %}
        <div class="input-group">
            <span class="input-group-addon line-number" id="basic-addon{{ row.order }}">{{ row.order }}</span>
            <input
                type="text"
                class="form-control"
                placeholder="Prečo tu nie je žiaden {{ row.get_lang_display }} kód?!"
                aria-label="Username"
                aria-describedby="basic-addon{{ row.order }}"
                value="{{ row.content }}"
                name="row-{{ row.order }}"
                id="code-row-{{ row.order }}"
                {% if readonly %}readonly=true{% endif %}
                {% if not readonly %}maxlength={{ lang_length | get_key:row.lang  }}{% endif %}
            >
            </input>
            <span class="input-group-addon language" id="basic-addon{{ row.order }}">
                {% if row.get_lang_display is None %}
                    {{row.lang }}
                {% else %}
                    {{ row.get_lang_display }}:{{ lang_length | get_key:row.lang  }}
                {% endif %}
            </span>
        </div>
    {% endfor %}
    {% if rows|length == 0 %}
        <h3 style="color: #d62728;">Prázdny kód.</h3>
        {% if not readonly %}Pridaj riadky.{% endif %}
    {% endif %}
</div>
