{% extends 'submit/main.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login to Editor Of Empires</h1>

<form id="login_form" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="form-group">
		<label for="username-input">Username</label>
		<input class="form-control" type="text" name="username" value="" size="50" id="username-input"/>
	</div>
	<div class="form-group">
		<label for="password-input">Password</label>
		<input class="form-control" type="password" name="password" value="" size="50" id="password-input"/>
	</div>

	<button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
