{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{% static 'submit/css/bootstrap.min.css' %}">
        <link rel="icon" type="image/png" href="{% static "submit/favicon.ico" %}"/>
        <style>
            .input-group-addon.line-number {
                min-width:75px;
                text-align:right;
            }
            .input-group-addon.language {
                min-width:100px;
                text-align:right;
            }
            .valid {
                background-color: rgba(0, 255, 0, 0.3);
            }

            .invalid {
                background-color: rgba(255, 0, 0, 0.3);
            }
        </style>
        <title>{% block title %}Editor{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            {% include 'submit/nav.html' %}
            {% block content %}
            {% endblock %}
        </div>


        {% block js %}
            <script src="{% static 'submit/js/jquery-latest.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'submit/js/popper.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'submit/js/bootstrap.min.js' %}" type="text/javascript"></script>
        {% endblock js %}
    </body>

</html>
