{% extends 'submit/main.html' %}

{% block content %}
<h2>{{ problem.title }}</h2>
{{ problem.content | safe }}
<h2>Riešenie:</h2>
<form id="problem_form" method="post" action="/submit/problem/{{ problem.id }}/">
	{% csrf_token %}
    {% include 'submit/code_rows.html' with rows=rows readonly=readonly %}
    <br/>
    <button type="submit" class="btn btn-success {% if readonly %}disabled{% endif %}" name="save">Save</button>
    <button type="submit" class="btn btn-primary {% if readonly %}disabled{% endif %}" name="save-submit">Save & Submit</button>
</form>
<table class="table hover">
    <thead>
        <tr>
            <th>Čas</th>
            <th>Stav</th>
            <th>Body</th>
            <th>Akcie</th>
        </tr>
    </thead>
    {% for submit in submits %}
    <tr class="{% if submit.status == response.OK or submit.status == response.REVIEWED %}
                success
                {% elif submit.status == response.SENDING_TO_JUDGE or submit.status == response.SENT_TO_JUDGE %}
                info
                {% elif submit.score > 0 %}
                warning
                {% else %}
                danger
                {% endif %}">
            <td>{{ submit.timestamp|date:"d.m.Y H:i T" }}</td>
            <td>{{ submit.get_status_display }}</td>
            <td>{{ submit.score }}</td>
            <td><a class="btn btn-primary btn-xs" href="{% url 'view_submit' submit_id=submit.id %}">Detaily</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
