{% extends 'submit/main.html' %}

{% block title %}Úlohy{% endblock %}

{% block content %}
    {% if error is not None %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        {% if no_more_problems %}
            <div class="alert alert-success" role="alert">
                Vyriešili ste všetky úlohy!
            </div>
        {% endif %}
        {% if active_problems is not None%}
            <h3>Active problems:</h3>
            <table class="table hover">
                {% for task in active_problems %}
                    <tr class="info">
                        <td>
                            <a href="/submit/problem/{{ task.problem.id }}" >
                                {{ task.problem.order }}. {{ task.problem.title }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <h3>Past problems:</h3>
        <table class="table hover">
            {% for task in past_problems %}
                <tr class="success">
                    <td>
                        <a href="/submit/problem/{{ task.problem.id }}">
                            {{ task.problem.order }}. {{ task.problem.title }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
